.energie{
    padding-top:110px ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 240px;

}
.energie-title{
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 56px;
width: 600px;
color: #FFFFFF;
margin-top: 130px;

}
.energie-descr{
    width: 100%;
    display: flex;
    &__item{
        width: 70%;
        padding-right: 50px;
        
        &__logo{
            margin-top: 100px;
            margin-bottom: 100px;
        }
        &__paragraf{
        font-family: Raleway;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: $gray;
        margin-bottom: 30px;    
        }
    }
    .news{
        width: 30%;
        background: #FBFBFB;
    }

}
.energie-tabs-items{
    display: flex;
    
    
}
.energie-tabs-item{
    display: block;
    position: relative;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    opacity: 0.4;
    color: $gray;
    cursor: pointer;
    margin-right: 55px;
    text-transform: uppercase;
    transition: all 0.6s;
    &::before {
        content: "";
        opacity: 0;
        transition: all 0.6s;
        position: absolute;
        display: block;
        width: 0px;
        height: 1px;
        top: 15px;
        right: -7px;
        transform: translateX(100%);
        background: $yellow;
      }
      &:nth-child(1) {
        &.active {
          left: 0;
          margin-right: 110px ;          
        }
      }
      &:hover {
        opacity: 0.7;
      }
      &.active {
        color: $yellow;
        opacity: 1;
        margin-right: 110px ;
        transition: all 0.6s;
        
    
        &::before {
          content: "";
          transition: all 0.6s;
          opacity: 1;
          width: 49px;
        }
      }
}
.energie-tab-body {
    width: 100%;
    margin-bottom: 40px;
  }
  .energie-tab-block {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    &.active {
      display: flex;
    }
}