@import "./varibatles";
.general {
  width: 100%;
  height: 100vh;
  position: relative;
  .conteiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__down {
    position: absolute;
    display: block;
    margin-top: 120px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: arrowDown 1s infinite;
  }
}
@keyframes arrowDown {
  0% {
    top: 70%;
  }
  50% {
    top: 72%;
  }
  100% {
    top: 70%;
  }
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.general__social {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -240px;
  &__item {
    margin-right: 30px;
    & > img {
      filter: brightness(0.4);
      &:hover {
        transition: 0.3s ease-in;
        filter: brightness(1);
      }
    }
  }
}
.general__content {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  height: 100%;
  @media (max-width: 1199px) {
    max-width: 400px;
  }
  @media (max-width: 575px) {
    max-width: 335px;
  }

  &__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 85px;
    color: #ffffff;
    @media (max-width: 1199px) {
      font-size: 36px;
      line-height: 42px;
    }
    @media (max-width: 575px) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  &__sub {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

    color: #ffffff;
    @media (max-width: 1199px) {
      font-size: 14px;
    }
    @media (max-width: 575px) {
      font-size: 12px;
    }
  }
  &__btn {
    display: flex;
    margin-top: 50px;
    @media (max-width: 1199px) {
      margin-top: 40px;
    }
    @media (max-width: 575px) {
      margin-top: 25px;
    }
    &__add {
      position: relative;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      text-decoration: none;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 30px;
      border: 2px solid #faa61a;
      border-radius: 3px;
      max-width: 240px;
      text-transform: uppercase;
      margin-right: 30px;
      @media (max-width: 1199px) {
        font-size: 12px;
        padding: 15px 20px;
        margin-right: 25px;
      }
      @media (max-width: 575px) {
        font-size: 12px;
        width: 173px;
        padding: 15px 0px;
        margin-right: 15px;
      }
      &:before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background: #faa61a;
        border-radius: 1px;
        transition: all 0.6s ease;
      }
      &:hover:before {
        width: 100%;
        z-index: -1;
      }
    }
    &__video {
      position: relative;
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      text-decoration: none;
      color: #ffffff;
      display: flex;
      align-items: center;

      min-width: 170px;
      text-transform: uppercase;
      @media (max-width: 1199px) {
        font-size: 12px;
        padding: 15px 20px;
      }
      &:hover {
        color: red;
        transition: 0.3s;
      }
      &::after {
        content: url(../img/Subtract.png);
        margin-left: 10px;
        position: relative;
        top: 2px;
      }
    }
  }
}
