@import "./varibatles";
@import "./base";
.desctop {
  width: 100%;
  @media (max-width: 1199px) {
    display: none;
  }
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #282828;
  .conteiner {
    display: flex;
    justify-content: space-between;
  }
  .top {
    width: 100%;
    background-color: #202020 !important;

    .conteiner {
      display: flex;
      justify-content: space-between;
    }
    &__nav {
      &__item {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: $white;
        opacity: 0.5;
        margin-right: 25px;
        &:hover {
          opacity: 1;
          transition: 0.2s;
        }
      }
    }
    &__language {
      &__item {
        font-family: Raleway;
        opacity: 0.5;
        font-weight: 600;
        font-size: 12px;
        color: $white;
        text-transform: lowercase;
        margin-left: 15px;
        &:hover {
          opacity: 1;
          transition: 0.2s;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__logo {
    padding-top: 15px;
  }
  &__nav {
    display: flex;
    align-items: start;
    padding-top: 25px;
    &__link {
      display: inline-block;
      text-decoration: none;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      position: relative;
      color: rgba(255, 255, 255, 0.6);
      margin-left: 30px;
      padding-bottom: 25px;
      border: 3px solid transparent;
      // margin-right: 30px;
      &:hover + .dropdown {
        display: block;
      }

      &:hover {
        color: #faa61a;
        border-bottom: 3px solid #faa61a;
      }
      &:hover::after {
        border-top: 5px solid#faa61a;
      }
      &::after {
        margin-left: 5px;
        content: "";
        position: relative;
        top: 12px;

        border: 5px solid transparent;
        border-top: 5px solid rgba(255, 255, 255, 0.6);
      }
      &:nth-last-child(1) {
        &::after {
          display: none;
        }
      }
      &:nth-child(-n + 2) {
        margin-left: 35px;
        padding-bottom: 7.3px;
        &::after {
          position: absolute;
          right: -15px;
          top: 7.5px;
        }
      }
    }
  }
}

.dropdown {
  width: 100%;
  background: #282828;
  padding: 55px 0 80px 0;
  position: absolute;
  top: 98px;

  display: none;
  &__first {
    position: relative;
    left: 0px;

    display: none;
    &.active {
      display: flex;
    }
    &__section {
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      &__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;

        color: $white;
        margin-bottom: 20px;
        transition: ease-in 0.3s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.3s;
        }
      }
      &__link {
        margin-bottom: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        color: $white;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
    }
  }
  &__second {
    position: relative;
    left: 0px;

    display: none;
    &.active {
      display: flex;
    }
    &__section {
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      &__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;

        color: $white;
        margin-bottom: 20px;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
      &__link {
        margin-bottom: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        color: $white;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
    }
  }
  &__third {
    position: relative;
    left: 0px;
    display: none;
    &.active {
      display: flex;
    }
    &__section {
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      &__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;

        color: $white;
        margin-bottom: 20px;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
      &__link {
        margin-bottom: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        color: $white;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
    }
  }
  &__fourth {
    position: relative;
    left: 0px;

    display: none;
    &.active {
      display: flex;
    }
    &__section {
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      &__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;

        color: $white;
        margin-bottom: 20px;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
      &__link {
        margin-bottom: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        color: $white;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
    }
  }
  &__fifth {
    position: relative;
    left: 0px;
    display: none;
    &.active {
      display: flex;
    }
    &__section {
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      &__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;

        color: $white;
        margin-bottom: 20px;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
      &__link {
        margin-bottom: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        color: $white;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
    }
  }
  &__sixth {
    position: relative;
    left: 0px;
    display: none;

    &.active {
      display: flex;
    }
    &__section {
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      &__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;

        color: $white;
        margin-bottom: 20px;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
      &__link {
        margin-bottom: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        color: $white;
        transition: ease-in 0.2s;
        &:hover {
          color: $yellow;
          transition: ease-in 0.2s;
        }
      }
    }
  }
  &:hover {
    display: block;
  }
  &.active {
    display: block;
  }
}
/*----------mobile------------------------*/
.mobile {
  background: transparent;
  width: 100%;
  display: none;
  justify-content: space-between;
  position: relative;
  @media (max-width: 1199px) {
    display: flex;
  }
}
@media (max-width: 1199px) {
  .header {
    background-color: transparent;
  }
}
.burger-btn {
  width: 60px;
  height: 60px;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;

  &__line {
    width: 20px;
    height: 2px;
    background-color: $yellow;
    display: block;
    margin-bottom: 5px;
  }
}
.mobile__logo {
  padding: 10px 0 0 20px;
  z-index: 5;
  position: relative;
  @media (max-width: 575px) {
    height: 55px;
  }
}
.line-1 {
  &.active {
    transform: rotate(-45deg);
    position: relative;
    top: 7px;
    transition: 0.4s;
  }
}
.line-3 {
  &.active {
    transform: rotate(45deg);
    position: relative;
    top: 0px;
    transform: 0.4s;
  }
}
.line-2 {
  &.active {
    display: none;
  }
}
.mobile-menu {
  width: 100%;
  height: 100vh;
  background-color: #282828;
  position: absolute;
  padding: 100px 0 0 80px;
  right: -100%;
  transition: 0.5s ease-in;
  @media (max-width: 575px) {
    height: 105vh;
    padding: 100px 0 0 0;
  }
  &.active {
    right: 0%;
    transition: 0.5s ease-in;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    &__item {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin-top: 20px;

      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      @media (max-width: 575px) {
        font-size: 12px;
        margin-left: 80px;
      }

      &:focus {
        color: $yellow;
      }

      color: rgba(255, 255, 255, 0.6);
      &::after {
        content: ">";
        margin-left: 10px;
      }
      &.active {
        color: $yellow;
        position: relative;
        display: block;
        width: max-content;
        @media (max-width: 575px) {
          margin-bottom: 15px;
          &::after {
            transform: rotate(90deg);
            display: block;
            position: absolute;
            right: -15px;
            top: 0;
          }
        }
      }
    }
  }
}
.mobile-menu__nav__sub-menu {
  position: absolute;
  top: 118px;
  left: 310px;
  display: none;
  &.active {
    display: flex;
  }

  @media (max-width: 575px) {
    flex-direction: column;
    position: static;
    padding: 15px 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 80px;
  }

  &__item {
    margin-right: 50px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    &__title {
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: $white;

      margin-bottom: 20px;
    }
    &__list {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 20px;
      color: $white;
      max-width: 150px;
      & > li {
        margin-bottom: 10px;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}
.mobile-menu__nav__formal {
  margin-top: 45px;

  @media (max-width: 575px) {
    margin-left: 80px;
  }
  &__list {
    & > li {
      margin-bottom: 15px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;

      & > a {
        color: rgba(255, 255, 255, 0.6);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
.mobile-menu__nav__languages {
  margin-top: 30px;
  @media (max-width: 575px) {
    margin-left: 80px;
  }
  &__list {
    display: flex;

    & > li {
      font-family: Raleway;
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      text-transform: lowercase;
      margin-right: 20px;

      & > a {
        color: rgba(255, 255, 255, 0.6);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
.no-arrow {
  &::after {
    content: "";
  }
}
// a {
//   text-decoration: none;
//   color: rgba(255, 255, 255, 0.6);
// }
body {
  &.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 150vh;
  }
}
