.sun-power{
    padding-top:110px ;
    .conteiner{
        margin-bottom: 120px;
    }
}
.wrapper{
    width: 815px;
    margin: 0 auto;
    
}
.sun-power-title{
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    &__text{
        
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: $darkgray;
    }
    &__date{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
    color: $darkgray;
    text-align: right;
    font-feature-settings: 'pnum' on, 'lnum' on;
    }
}
.sun-power-paragraf{
font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
color: $gray;
margin-bottom: 30px;
&__link{
    
    &:hover{
        text-decoration: underline;
       
    }
}
}
.slider-sun-power-for{
    display: flex;
    position: relative;
    &__item{
       
        &__img{
            object-fit: cover;
            width: 100%;
            height: 500px;
        }
    }
    .slick-arrow{
      position: absolute; 
      top: 50%;
    
      z-index: 10;
      opacity: 0.6;
      background-color: rgba(0, 0, 0, 0.5);
    
    }
    .slick-prev{
        left: 30px;
       
    }
    .slick-next{
        right: 30px;
        transform: translateY(-50%), rotate(180deg);
    }

}
.slider-sun-power-nav{
    margin-bottom: 70px;
    margin-top: 30px;
    display: flex;
    position: relative;
    .slick-list {
        overflow: visible;
        width: max-content;
      }
      .slick-track {
        display: flex;
        width: max-content;
        transform: translate3d(0px, 0px, 0px) !important;
      }
    &__item{
      
        &__img{
            object-fit: cover;
            width: 80px;
            height: 50px;
            margin-right: 30px;
        }
    }
    .slick-active{
        outline: none;
        
        
    }
   .slick-current{
    filter: grayscale(100%);
   }

}
.sun-power-paragraf-title{
    font-family: Raleway;
font-style: normal;
font-weight: 600;
color: $darkgray;
margin-bottom: 30px;
}
.equipment{
width: 100%;
background: #FBFBFB; 
padding: 60px 0 180px 0;

}
.equipment-title{
    font-family: Raleway;
font-style: normal;
font-weight:600;
font-size: 26px;
color: $darkgray;
margin-bottom: 100px;
}
.equipment-baner{
    width: 100%;
    display: flex;
    &__item{
        display: flex;
        width: 50%;
       &:nth-last-child(1){
        justify-content: flex-end;
        border-left: 1px solid #E0E0E0; ;
       } 
    }
}